{% extends 'base.html' %}

{% block title %}Diet Plan{% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/css/features.css">
<link rel="stylesheet" href="/static/css/user-style.css">
{% endblock css %}
{% block body %}

<!-- PHS Exercises starts here -->
<section class=" services-section head">
    <div class="container text-center common-title fw-bold pt-2">
        <h2 class="common-heading">PHS Diet Plan</h2>
        <hr class="w-25 mx-auto ">
    </div>



</section>
<!-- PHS Exercises end here -->

<!-- Diet Plans section starts here -->

<section class="common-section mb-5 pt-5 bg-color">
    <div class="container text-center common-title  ">
        <h2 class="common-heading text-dark">Veg. Diet Plan</h2>
        <hr class="w-25 mx-auto">
    </div>


    <div class="container">
        <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/static/media/features/istockphoto-1147252758-1024x1024.jpg" width="500px"
                    style="border-radius: 5px;">
            </div>

            <div class="col-12 col-md-6 col-lg-6 ">
                <div class="container score_box mx-md-5 px-2 py-2"
                    style="border: 2px solid #000; border-radius: 5px; background-color: var(--bs-main-color);">
                    <h5 class="text-center">Sample 1200 Calorie Diet Regimen</h5>
                    <table>
                        <tr>
                            <th>Meal</th>
                            <th>Foodstuffs</th>
                        </tr>
                        <tr>
                            <td>Early Morning:</td>
                            <td>Ginger and Jeera Water (1 glass) and 5 Soaked Almonds</td>
                        </tr>
                        <tr>
                            <td>Breakfast:</td>
                            <td>Vegetable paratha -1 with ¼ cup raita or ½ cup vegetable oats upma with ¼ cup raita
                                or Millet Idly -2 with ½ cup sambhar</td>
                        </tr>
                        <tr>
                            <td>Mid-Morning:</td>
                            <td>Buttermilk -1 glass with 1 cup of fruit salad</td>
                        </tr>
                        <tr>
                            <td>Lunch:</td>
                            <td>Wheat Roti – 2, Dal- ½ cup, Lauki Sabzi 1 cup, Cucumber onion salad-1/2 cup and Low
                                -fat Curd – ½ cup</td>
                        </tr>
                        <tr>
                            <td>Evening:</td>
                            <td>Tea or Coffee 1 cup without sugar or with half sugar. Roasted Makhanas – ½ cup or
                                Puffed rice – 1 cup or fruit-1</td>
                        </tr>
                        <tr>
                            <td>Dinner:</td>
                            <td>Chickpeas vegetable salad -1 bowl or Moong dal with ½ tsp ghee- 1 cup and Tomato
                                cucumber salad- 1 bowl</td>
                        </tr>
                        <tr>
                            <td>Bedtime:</td>
                            <td>Green Tea or Herbal Tea -1 cup</td>
                        </tr>

                    </table><br />
                    <p>Source: <i><a
                                href="https://www.netmeds.com/health-library/post/what-is-indian-vegetarian-diet-plan-a-sample-1200-calorie-suggested-food-intake-for-weight-loss"
                                target="_blank">Netmeds</a></i>
                    </p>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- Diet Plans section end here -->

<!-- Advices section starts here  -->

<section class="common-section mb-5 pt-5 bg-color yog-bg pb-5">
    <div class="container text-center common-title  ">
        <h2 class="common-heading text-dark">Advisory</h2>
        <hr class="w-25 mx-auto">
    </div>

    <div class="container">
        <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
            <div class="col-12 col-md-6 col-lg-6 ">
                <div class="container score_box mx-md-5 px-2 py-2"
                    style="border: 2px solid #000; border-radius: 5px; background-color: var(--bs-main-color);">
                    <h5 class="text-center">Food Items To Limit</h5>
                    <ol>
                        <li>Avoid candy, soda, sugar, white rice, white pasta, white bread, sweet syrup, breakfast
                            cereal, desserts, and pastries contain simple carbohydrates.</li>
                        <li>Avoid margarine, butter, eggs, milk, cheese, and red meat are high in saturated fat.
                        </li>
                        <li>Avoid eating red meat as it contains high levels of saturated fat that shoot up the
                            cholesterol levels in the blood.</li>
                        <li>Avoid eating fried foods such as fried chicken, deep fried foods, and potato fries.</li>
                        <li>Avoid alcohol</li>
                        <li>Avoid aerated and artificially sweetened drinks.</li>
                    </ol>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 ">
                <div class="container score_box mx-md-5 px-2 py-2"
                    style="border: 2px solid #000; border-radius: 5px; background-color: var(--bs-main-color);">
                    <h5 class="text-center">Do's And Dont's</h5>
                    <p><b>Do's</b></p>
                    <ol>
                        <li>Eat Healthy Fat to Lose Weight</li>
                        <li>Eat 2-3 hours before going to sleep</li>
                        <li>Make Healthy Swaps</li>
                        <li>Follow Smart Tips for Dining Out</li>
                    </ol>
                    <p><b>Don'ts</b></p>
                    <ol>
                        <li>Don't starve yourself</li>
                        <li>Dont dehydrate yourself</li>
                        <li>Dont eat if your are not hungry</li>
                        <li>Dont eat too much saturated fat</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- Advices section ends here  -->

{% endblock body %}