{% extends 'base.html' %}

{% block title %}PHS Exercises{% endblock title %}

{% block body %}

    <!-- PHS Exercises starts here -->
    <section class=" services-section head">
        <div class="container text-center common-title fw-bold pt-2">
            <h2 class="common-heading">PHS Exercises - {{name}}</h2>
            <hr class="w-25 mx-auto ">
        </div>



    </section>
    <!-- PHS Exercises end here -->

    <!--Beginner Level section section starts here-->

    <section class=" services-section beginnery">
        <div class="container text-center common-title fw-bold pt-2">
            <h4 class="common-heading">Beginner Level</h4>
            <hr class="w-25 mx-auto ">
        </div>

        <div class="container mt-5">
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{b1L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{b1}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{b2L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{b2}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{b3L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{b3}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{b4L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{b4}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>



    </section>
    <!-- Beginner Level ends here -->

    <!--Advanced Level section starts here-->

    <section class=" services-section advancey">
        <div class="container text-center common-title fw-bold pt-2">
            <h4 class="common-heading">Advanced Level</h4>
            <hr class="w-25 mx-auto ">
        </div>

        <div class="container mt-5">
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{a1L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center white_cardy" style="width: 18rem;">
                            <img src="{{a1i}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{a1}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{a2L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center white_cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{a2}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{a3L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center white_cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{a3}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{{a4L}}" style="text-decoration:none" target="_blank">
                        <div class="card text-center white_cardy" style="width: 18rem;">
                            <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">{{a4}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>



    </section>
    <!-- Advanced Level Section ends here -->
    {% endblock body %}