{% extends 'H_base.html' %}

{% block title %}Personalized Health System{% endblock title %}
{% block css %}<link rel="stylesheet" href="/static/css/welcome.css">{% endblock css %}
{% block body %}

    <!-- hero section starts here -->
    <section class="bs-main bg-color hero-section mt-0">
        <div class="container">
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-8 hero-cont" style="background-color: #fff;">
                    <h1 style="font-size: 67px; padding-top: 1%;"><b>Experienced general practitioners who have an eye
                            for your care</b></h1>
                    <p class="mt-3" style="font-weight: 400;"><b>Medical Assessment, Best Exercises, Yoga, Home
                            Remedies, Healthy tips and Doctor advices for you.
                        </b></p><br>
                    <a href="/login/" class="bg-primary text-white getstart m-2 mb-5"><b>Get Started</b></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <img src="/static/media/auth/pexels-antoni-shkraba-5215024HD.png" width="300px" height="400px">
                </div>


            </div>
        </div>

    </section>
    <!-- hero section end here -->

    <!-- practices section starts here -->

    <section class="common-section mb-5 pt-5 bg-color">
        <!-- <div class="container text-center common-title  ">
            <h2 class="common-heading text-dark">Exercises for You</h2>
            <hr class="w-25 mx-auto">
        </div> -->

        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="row px-3">
                    <h3 style="font-size: 5rem;"><b>Our practices</b></h3>
                    <p class="prac">Known for Best facilities, health management and personal touch to beloved family.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-8">
                <div class="row ">
                    <div class="col-12 col-md-6 col-lg-6">
                        <hr width="450">
                        <h5 class="titlep">Health Scores</h5>
                        <p class="descp">Track your Health score and proceed in right direction.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <hr width="450">
                        <h5 class="titlep">Best Exercises</h5>
                        <p class="descp">Guidance related to Gym and Home based Exercises personalised for you by our
                            experts.</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 col-md-6 col-lg-6">
                        <hr width="450">
                        <h5 class="titlep">Yoga Asanas</h5>
                        <p class="descp">Perform Yoga Asanas to improve your body posture, get sexy body shape and
                            explore many hidden benefits.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <hr width="450">
                        <h5 class="titlep">Home Remedies</h5>
                        <p class="descp">Get rid of diseases by our Home Remedies collection.</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 col-md-6 col-lg-6">
                        <hr width="450">
                        <h5 class="titlep">Reduce Stress</h5>
                        <p class="descp">Live peaceful, happy life by doing activities to Alleviate stress and anxiety.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <hr width="450">
                        <h5 class="titlep">Health Guidelines</h5>
                        <p class="descp">Get Healthy tips daily to live healthy lifestyle.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <a href="/login/" class="bg-primary text-white getstart m-2 mb-5"><b>Get Started</b></a>
                    </div>
                </div>

            </div>


        </div>


    </section>

    <!-- practices section end here -->

    <!-- Choose section starts here  -->

    <section class="common-section mb-5 pt-5 bg-color yog-bg pb-5">
        <div class="container text-center common-title  ">
            <h2 class="common-heading text-dark">Why choose us</h2>
            <hr class="w-25 mx-auto">
            <p>Live happy, Enjoy every moment of life, Stay fit and Get right guidance here.</p>
            <img src="/static/media/auth/national-cancer-institute-Vb0GY3PWSSM-unsplash.jpg" width="400px" height="300px">
            <h5 class="mt-3">1 Year of Research</h5>
            <p>Our motive to help people to get rid of diseases.</p>
        </div>
    </section>

    <!-- Choose section ends here  -->

    <!-- features section starts here -->

    <section class="common-section mb-5 pt-5 bg-color">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-8">
                    <h2 class="htitle pt-5">Dedicated trainers with the core mission to help.</h2>
                    <p class="hdesc pt-2">Cardio, Bodybuilding, Powerlifting, Special Excerise for you by our Experts.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="/static/media/auth/alora-griffiths-JNeYWQncbj8-unsplash.jpg" width="300px">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="/static/media/auth/bruce-mars-gJtDg6WfMlQ-unsplash.jpg" width="400px">
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <h2 class="htitle pt-5">Get access to Yoga classes and breakthrough information.</h2>
                    <p class="hdesc pt-2">Yoga cure many diseases. Anyone can do yoga from kids to adults of any age, gender. We provide Yoga asanas which suits you.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-8">
                    <h2 class="htitle pt-5">Find out how we can help you help you.</h2>
                    <p class="hdesc pt-2">Get Home Remedies, Health tips, and Doctor advices and reduce your stress and many more...
                    </p>
                    <a href="/login/" class="bg-primary text-white getstart m-2 mb-5"><b>Get Started</b></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <img src="/static/media/auth/chelsea-shapouri-PwzCZVEw8vY-unsplash.jpg" width="400px">
                </div>
            </div>
        </div>


    </section>

    <!-- feature section end here -->

    <!-- footer section start here -->
    <section class="footer bg-dark">
        <div class="container">
            <p class="text-white"><i>© 2023 Lovish. All Rights Reserved.</i></p>
        </div>
    </section>
    <!-- footer section end here -->


    {% endblock body %}