{% extends 'base.html' %}

{% block title %}Reduce Your Health{% endblock title %}

{% block body %}
    <!-- PHS Exercises starts here -->
    <section class=" services-section head">
        <div class="container text-center common-title fw-bold pt-2">
            <h2 class="common-heading">PHS Reduce Stress</h2>
            <hr class="w-25 mx-auto ">
        </div>



    </section>
    <!-- PHS Exercises end here -->

    <!--Beginner Level section section starts here-->

    <section class=" services-section beginnery">
        <div class="container text-center common-title fw-bold pt-2">
            <h4 class="common-heading">Reduce Your Stress </h4>
            <hr class="w-25 mx-auto ">
        </div>

        <div class="container mt-5">
            <!-- 1 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Get more physical activity.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">1. Get more physical activity </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>If you’re stressed, moving your body consistently may help reduceTrusted Source stress levels and
                        improve mood. A 6-week studyTrusted Source of 185 university students found that participating
                        in aerobic exercise 2 days per week significantly reduced overall perceived stress and perceived
                        stress due to uncertainty. Plus, the exercise routine significantly improved self-reported
                        depression. Regular exercise has been shown to improve symptomsTrusted Source of common mental
                        health conditions such as anxiety and depression (15Trusted Source, 16Trusted Source). If you’re
                        currently inactive, start with gentle activities such as walking or biking. Choosing an activity
                        that you enjoy may help increase your chances of sticking to it in the long term.</p>
                </div>
            </div>
            <!-- 2 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Eat a balanced diet.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">2. Eat a balanced diet</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Your diet affects every aspect of your health, including your mental health. A 2022 review of
                        researchTrusted Source suggests that people who follow a diet high in ultra-processed foods and
                        added sugar are more likely to experience higher perceived stress levels. Being chronically
                        stressed may lead you to overeat and reach for highly palatable foods, which may harm your
                        overall health and mood. Not eating enough nutrient-dense whole foods may increase your risk of
                        deficiencies in nutrients essential for regulating stress and mood, such as magnesium and B
                        vitamins. Minimizing your intake of highly processed foods and beverages and eating more whole
                        foods can help ensure your body is properly nourished. In turn, this may improve your resilience
                        to stress. Whole food options can include: vegetables, fruits, beans, fish, nuts, seeds.</p>
                </div>
            </div>
            <!--3  -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Minimize phone use and screen time.jpeg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">3. Minimize phone use and screen time</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>While smartphones, computers, and tablets are often necessary, using them too often may increase
                        stress levels. A 2021 review of literatureTrusted Source points out that several studies have
                        linked excessive smartphone use with increased stress levels and mental health disorders.
                        Spending too much time in front of screens is associated with lower psychological well-being and
                        increased stress levels in adults and kids. Furthermore, screen time may negatively affect
                        sleep, which may also leadTrusted Source to increased stress levels.</p>
                </div>
            </div>
            <!-- 4 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Practice self-care.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">4. Practice self-care</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Setting aside time to practice self-care may help reduceTrusted Source your stress levels.
                        Practical examples include: going for a walk outside, taking a bath, lighting candles, reading a
                        good book, exercising, preparing a healthy meal, stretching before bed, getting a massage,
                        practicing a hobby, using a diffuser with calming scents, practicing yoga. People who engage in
                        self-care typically haveTrusted Source lower levels of stress and improved quality of life,
                        while a lack of self-care is associated with a higher risk of stress and burnout. Taking time
                        for yourself is essential to live a healthy life. This is especially important for people who
                        tend to be highly stressed, including nurses, doctors, teachers, and caretakers. Self-care
                        doesn’t have to be elaborate or complicated. It simply means tending to your well-being and
                        happiness. Exposure to certain scents via candles or essential oils may be especially calming.
                        Here are a few relaxing scents: lavender, rose, vetiver, bergamot, Roman chamomile, neroli,
                        frankincense, sandalwood, ylang-ylang, orange or orange blossom, geranium. Using scents to boost
                        your mood is called aromatherapy. Aromatherapy can decrease anxiety and improve sleep.</p>
                </div>
            </div>
            <!-- 5 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Reduce your caffeine intake.jpeg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">5. Reduce your caffeine intake</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Caffeine is a chemical in coffee, tea, chocolate, and energy drinks that stimulates your central
                        nervous system. Consuming too much may worsen anxiety, according to a 2021 review of
                        literatureTrusted Source on the subject. Overconsumption may also harm your sleep. In turn, this
                        may increase stress and anxiety symptoms. People have different thresholds for how much caffeine
                        they can tolerate. If caffeine makes you jittery or anxious, consider cutting back by replacing
                        coffee or energy drinks with decaffeinated coffee, herbal tea, or water. though coffee has
                        health benefits in moderation, it’s recommended to keep caffeine intake under 400 mgTrusted
                        Source daily, which equals 4–5 cups (0.9–1.2 L) of coffee. Still, people sensitive to caffeine
                        may experience increased anxiety and stress after consuming less caffeine than this, so it’s
                        important to consider your tolerance.</p>
                </div>
            </div>
            <!-- 6 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Spend time with friends and family.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">6. Spend time with friends and family</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Social support from friends and family may help you get through stressful times and cope with
                        stress. One 2019 studyTrusted Source in 163 ​​Latinx college-age young adults associated lower
                        levels of support from friends, family, and romantic partners with loneliness, depressive
                        symptoms, and perceived stress. Having a social support system is important for your overall
                        mental health. If you’re feeling alone and don’t have friends or family to depend on, social
                        support groups may help. Consider joining a club or sports team or volunteering for a cause
                        that’s important to you.</p>
                </div>
            </div>
            <!-- 7 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Create boundaries and learn to say no.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">7. Create boundaries and learn to say no </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Not all stressors are within your control, but some are. Putting too much on your plate may
                        increase your stress load and limit the amount of time you can spend on self-care. One way to
                        help reduce stress and protect your mental health may be to say “no” more often. This is
                        especially true if you take on more than you can handle because juggling many responsibilities
                        may leave you feeling overwhelmed. Being selective about what you take on — and saying “no” to
                        things that will unnecessarily add to your load — can reduce your stress levels. Creating
                        boundaries — especially with people who add to your stress levels — is a healthy way to protect
                        your well-being. This can be as simple as asking a friend or family member not to stop by
                        unannounced or canceling standing plans with a friend if you need more space.</p>
                </div>
            </div>
            <!-- 8 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Avoid procrastination.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">8. Avoid procrastination</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Another way to take control of your stress is to stay on top of your priorities and avoid
                        procrastinating when you aren’t feeling stressed. Procrastination may harm your productivity and
                        leave you scrambling to catch up. This can cause stress, which negatively affects your health
                        and sleep quality. It’s also true that you may be more likelyTrusted Source to procrastinate in
                        times of stress as a coping mechanism. A studyTrusted Source in 140 medical students in China
                        linked procrastination to increased stress levels. The study also associated procrastination and
                        delayed stress reactions with more negative parenting styles, including punishment and
                        rejection. If you find yourself procrastinating regularly, it may be helpful to make a to-do
                        list organized by priority. Give yourself realistic deadlines and work your way down the list.
                        Sometimes, adding an item to the list may help you feel better about it, even if it doesn’t get
                        done immediately. Work on the things that need to get done today, and give yourself chunks of
                        uninterrupted time. Switching between tasks or multitasking can be stressful in itself.</p>
                </div>
            </div>
            <!-- 9 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Take a yoga class.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">9. Take a yoga class</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Yoga has become a popular method of stress relief and exercise among all age groups. While yoga
                        styles differ, most share a common goal — to join your body and mind by increasing body and
                        breath awareness. ResearchTrusted Source shows that yoga helps reduce stress and anxiety. Plus,
                        it can promote psychological well-being. These benefits seem related to yoga’s effect on your
                        nervous system and stress response. Yoga may helpTrusted Source lower cortisol levels, blood
                        pressure, and heart rate while increasing levels of gamma aminobutyric acid, a neurotransmitter
                        that’s low in people with mood disorders.</p>
                </div>
            </div>
            <!-- 10 -->
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.google.co.in" style="text-decoration:none">
                        <div class="card text-center cardy" style="width: 18rem;">
                            <img src="/static/media/Stress Reduction/Spend time in nature.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <p class="card-title  mb-3 ">10. Spend time in nature</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-9 hrem">
                    <p>Spending more time outside may help reduce stress. Studies show that spending time in green
                        spaces such as parks and forests and being immersed in nature are healthy ways to manage stress.
                        A review of 14 studiesTrusted Source found that spending as little as 10 minutes in a natural
                        setting may help improve psychological and physiological markers of mental well-being, including
                        perceived stress and happiness, in college-aged people. Hiking and camping are great options,
                        but some people don’t enjoy — or have access to — these activities. Even in an urban area, you
                        can seek out green spaces such as local parks, arboretums, and botanical gardens.</p>
                </div>
            </div>
        </div>
        </div>



    </section>
    <!-- Beginner Level ends here -->









 
{% endblock body %}