<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Dash</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./user-style.css">
</head>

<body>
    <!-- Adding navbar here -->
    <nav class="navo navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><b>PHS</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Health Score</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Exercises
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Chest</a></li>
                            <li><a class="dropdown-item" href="#">Biceps</a></li>
                            <li><a class="dropdown-item" href="#">Triceps</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Shoulders</a></li>
                            <li><a class="dropdown-item" href="#">Back</a></li>
                            <li><a class="dropdown-item" href="#">Legs</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Yoga Asanas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Standing Asanas</a></li>
                            <li><a class="dropdown-item" href="#">Sitting Asanas</a></li>
                            <li><a class="dropdown-item" href="#">Laying_on_Stomach Asanas</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Laying_on_Back Asanas</a></li>
                            <li><a class="dropdown-item" href="#">Balancing Asanas</a></li>
                            <li><a class="dropdown-item" href="#">Eyes Asanas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Home Remedies
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Common Cold</a></li>
                            <li><a class="dropdown-item" href="#">Headache</a></li>
                            <li><a class="dropdown-item" href="#">Obesity</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Kidney Stone</a></li>
                            <li><a class="dropdown-item" href="#">Stomach Pain</a></li>
                            <li><a class="dropdown-item" href="#">Muscle Ache</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Cough</a></li>
                            <li><a class="dropdown-item" href="#">Nausea</a></li>
                            <li><a class="dropdown-item" href="#">Malaria</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reduce Stress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Health Guidelines</a>
                    </li>



                </ul>
                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Setting
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Account Setting</a></li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>
    <!-- navbar ends here -->

    <!-- hero section starts here -->
    <section class="bs-main bg-color hero-section mt-0">
        <div class="container">
            <div class="row mt-0 mb-5 pt-2 pb-5 gy-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./media/9045622.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <a href="#" class="btn btn-primary">Health Assessment</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./media/pexels-photo-1431282.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <a href="#" class="btn btn-primary">Exercises</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./media/pexels-marta-wave-6454159.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <a href="#" class="btn btn-primary">Yoga Asanas</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./media/pexels-mikhail-nilov-6707511.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <a href="#" class="btn btn-primary">Home Remedies</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./media/young-woman-suffering-from-headache.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <a href="#" class="btn btn-primary">Reduce Stress</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="./media/pexels-mikhail-nilov-7780771.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <a href="#" class="btn btn-primary">Health Guidelines</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- hero section end here -->

    <!-- exercise section starts here -->

    <section class="common-section mb-5 pt-5 bg-color">
        <div class="container text-center common-title  ">
            <h2 class="common-heading text-dark">Exercises for You</h2>
            <hr class="w-25 mx-auto">
        </div>


        <div class="container">
            <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators">
                <div class="carousel-indicators">
                    <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                        data-bs-target="#carouselExampleIndicators" type="button"></button>
                    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
                        type="button"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem; ">
                                            <img alt="..." class="card-img-top" src="./media/chest.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3 ">Chest</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/biceps.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Biceps</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/triceps.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Triceps</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/shoulder.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Shoulders</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/back.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Back</p>

                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/leg.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Legs</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                    type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon left_arrow"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                    type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon right_arrow"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </section>

    <!-- exercise section end here -->

    <!-- Yoga section starts here  -->

    <section class="common-section mb-5 pt-5 bg-color yog-bg pb-5">
        <div class="container text-center common-title  ">
            <h2 class="common-heading text-dark">Yoga Asanas for You</h2>
            <hr class="w-25 mx-auto">
        </div>


        <div class="container">
            <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators2">
                <div class="carousel-indicators">
                    <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                        data-bs-target="#carouselExampleIndicators" type="button"></button>
                    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
                        type="button"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 white_cardy" style="width: 18rem; ">
                                            <img alt="..." class="card-img-top" src="./media/standing pose.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3 ">Standing Pose</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 white_cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/sitting pose.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Sitting Pose</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 white_cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/laying on stomach pose.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Laying_on_Stomach Pose</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 white_cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/laying on back.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Laying_on_Back Pose</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 white_cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/balancing pose.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Balancing Pose</p>

                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 white_cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/eyes pose.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Eyes Pose</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators2"
                    type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon left_arrow"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators2"
                    type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon right_arrow"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </section>

    <!-- Yoga section ends here  -->

    <!-- Home Remedies section starts here -->

    <section class="common-section mb-5 pt-5 bg-color">
        <div class="container text-center common-title  ">
            <h2 class="common-heading text-dark">Home Remedies for You</h2>
            <hr class="w-25 mx-auto">
        </div>


        <div class="container">
            <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators3">
                <div class="carousel-indicators">
                    <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                        data-bs-target="#carouselExampleIndicators" type="button"></button>
                    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
                        type="button"></button>
                    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators"
                        type="button"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem; ">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Common Cold.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3 ">Common Cold</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Headache.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Headache</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Obesity.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Obesity</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Kidney Stone.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Kidney Stone</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Stomach Pain.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Stomach Pain</p>

                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Muscle Ache.jpg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Muscle Ache</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row g-4">
                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/Home remedies/Cough.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Cough</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top" src="./media/Home remedies/Nausea.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Nausea</p>

                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xxl-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.google.co.in" style="text-decoration:none">
                                        <div class="card  p-3 cardy" style="width: 18rem;">
                                            <img alt="..." class="card-img-top"
                                                src="./media/Home remedies/Malaria.jpeg">
                                            <div class="card-body text-center">
                                                <p class="card-title  mb-3">Malaria</p>
                                                <div class=" mt-3 d-flex justify-content-center">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators3"
                    type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon left_arrow"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators3"
                    type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon right_arrow"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </section>

    <!-- Home Remedies section end here -->










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>